<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Create Teacher Account</h1>

  <% if (error) { %>
    <p style="color:red;"><%= error %></p>
  <% } %>

  <form method="POST" action="/signup">
    <input name="name" placeholder="Name" required /><br /><br />
    <input name="email" type="email" placeholder="Email" required /><br /><br />
    <input name="password" type="password" placeholder="Password" required /><br /><br />

    <button>Create Account</button>
  </form>

  <p><a href="/login">Back to login</a></p>
</body>
</html>